body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.profile-card {
background: white;
padding: 20px;
border-radius: 10px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
max-width: 90%;
width: 300px;
}
.profile-card img {
width: 100px;
height: 100px;
object-fit: cover;
border: 3px solid #007bff;
border-radius: 50%;
}
h1{
border: 3px solid #007bff;
color: #007bff;
}
h2 {
font-size: 1.5rem;
}
h3 {
font-size: 1.2rem;
color: #555;
}
p {
line-height: 1.6;
font-size: 0.9rem;
}
.social-links a {
display: inline-block;
padding: 5px 10px;
margin: 5px;
background: #007bff;
color: white;
border-radius: 5px;
text-decoration: none;
}
#utcTime {
color: #007bff;
font-weight: bold;
}